body {
  font-family: "Libre Franklin", sans-serif;
  color: #444;
  font-size: 90%;
  font-weight: 300;
}

.container {
  max-width: $max_width; /* Default max-width */
  margin: 0;
  padding: 20px;
}

.container.full-width {
  max-width: none; /* Remove max-width for full-width display */
}

b, strong {
  font-weight: 600;
}

ul, ol {
  margin: 0px;
}

code {
  font-size: 120%;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 6px;
  display: block;
  width: auto;
  white-space: pre-wrap;
}

.bi {
  padding-right: 6px;
}
.bi {
  padding: 0 6px 0 6px;
}

.admission-allocation {
  font-size: 125%;
}

.admission-table
  table {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full width */
    margin: 20px 0; /* Margin above and below the table */
    font-size: 16px; /* Font size */
  }

  table, th, td {
      border: 1px solid #e0e0e0; /* Thin light gray border */
  }

  th.app-student, td.exam-student, th.exam-school {
    font-size: 125%;
  }

  th, td {
      text-align: center; /* Center align text */
      padding: 10px; /* Padding inside cells */
  }

  th {
      background-color: #f8f8f8; /* Light background for header */
      font-weight: bold; /* Make header text bold */
  }

  tbody tr:nth-child(odd) {
      background-color: #f2f2f2; /* Zebra striping for rows */
  }

.color_table td, .color_table th {
    padding: 8px
}

.switcher-button {
    background-color: #f0f0f0; /* Light gray background */
    color: black; /* Text color */
    border: 1px solid #b0b0b0; /* Darker gray border */
    border-radius: 4px; /* Small rounded corners */
    padding: 5px 10px; /* Padding around text */
    text-align: center; /* Center text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block */
    font-size: 110%; /* Font size */
    margin: 4px 2px; /* Margins around button */
    cursor: pointer; /* Cursor as pointer */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

.switcher-button:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
    border-color: #909090; /* Border color darker on hover */
}

.switcher-button-active {
    background-color: #ffe0e0; /* Slightly darker on hover */
    border-color: #c09090; /* Border color darker on hover */
}

.switcher-button-active:hover {
    background-color: #f0d0d0; /* Light gray with pink tint */
    border-color: #b08080; /* Border color with pink tint */
}

